[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
feedparser = "*"
boto3 = "*"
smart-open = "*"
python-dateutil = "*"
twilio = "*"

[requires]
python_version = "3.7"
