[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"

[packages]
pyyaml = "*"
feedparser = "*"
smart-open = "*"
python-dateutil = "*"
twilio = "*"

[requires]
python_version = "3.7"
